/* GENERAL */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: darkcyan;
  color: gold;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  @include sticky-footer;
  /* font-family: "Roboto", "Arial", sans-serif; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}